@import '../variables';

.button{
    display: inline-block;
    height: 48px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $duration ease-in-out, color $duration ease-in-out, border-color $duration ease-in-out;
    background-color: #ffffff;



    &--search{
        color: #118BF7;
        border: 2px solid #118BF7;
        padding: 0 34px;

        &:hover{
            background-color: #118BF7;
            color: #ffffff;
        }
    }



    &--add{
        color: #8DB264;
        border: 2px solid #8DB364;
        padding: 0 48px;

        &:hover{
            background-color: #8DB264;
            color: #ffffff;
            border-color: #8DB264;
        }
    }


    &--edit{
        color: #118BF7;
        border: 2px solid #4EA8F8;
        padding: 0 28px;
        margin-top: 17px;

        &--list{
            margin-top: 0;
        }

        &:hover{
            background-color: #118BF7;
            color: #ffffff;
            border-color: #118BF7;
        }
    }

    &--delete{
        color: #E6527D;
        border: 2px solid #F887A8;
        padding: 0 30px;
        margin-top: 17px;
        margin-left: 4px;

        &--list{
            margin-top: 0;
        }

        &:hover{
            background-color: #E6527D;
            color: #ffffff;
            border-color: #E6527D;
        }
    }

    &--add-modal{
        color: #ffffff;
        background-color: #55A201;
        padding: 0 48px;
        border: 0;
        margin-left: 10px;

        &:hover{
            background-color: darken($color: #55A201, $amount: 5);     
        }
    }

    &--cancel-modal{
        color: #D2D2D2;
        border: 2px solid #CECECE;
        background-color: #ffffff;
        padding: 0 48px;

        &:hover{
            background-color: darken($color: #ffffff, $amount: 15);   
            color: #6d6d6d;
        }
    }



    @media screen and (max-width: 845px) {
        &--add {
            margin-top: 20px;
        }
        
    }

    @media screen and (max-width: 555px) {
        &--search {
            margin: 0 auto;
            margin-top: 20px;
        }
    }


    @media screen and (max-width: 465px) {
        &--edit{
            font-size: 16px;
            padding: 0 10px;
        }
        &--delete{
            font-size: 16px;
            padding: 0 10px;
        }
        &--add-modal,&--cancel-modal{
            padding: 0 22px;
        }
    }

}